[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
timm = "*"
torch = "*"
torchvision = "*"
pillow = "*"
flickrapi = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
